<?xml version="1.0" encoding="UTF-8"?> 
<!--Atualizado em 30/03/2014 às 15h30  --> 
<!-- ALL > TRACE > DEBUG > INFO > WARN > ERROR > FATAL > OFF -->
<Configuration> 
		<properties>
            <property name="para">renato.novaes@totvs.com.br</property>
			<property name="protocolo">smtp</property>			            
			<property name="porta">587</property>            
			<property name="de">naoresponda@universal.org.br</property>			
			<property name="usuario">naoresponda</property>                    
			<property name="senha">Iurd!1z0jS5</property>			
			<property name="host">smtp.universal.org.br</property>		    								
        </properties>
		
	<Appenders> 	
	
		<Console name="STDOUT" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{yyyyMMdd HH:mm:ss} %l{2} %-5p='%m' %n"/>
		</Console> 
		
		 <SMTP name="confEnvioEmail" 
              subject="Erro no sistemas" to="${para}" from="${de}"
              smtpHost="${host}" smtpPort="${porta}"
             smtpUsername="${usuario}" smtpProtocol="${protocolo}"
               smtpDebug="false" bufferSize="20" smtpPassword="${senha}">
		</SMTP>	   
		
		<Routing name="RoutingSgiurd">
			<Routes pattern="$${sd:type}">
				<Route>
					<RollingFile name="FileSgiurd" filePattern="C:\Tomcat 6.0\logs\sgiurd-%d{yyyyMMdd}-%i.log" fileName="C:\Tomcat 6.0\logs\sgiurd.log" append="true"> 				
						<PatternLayout pattern="%d{yyyyMMdd HH:mm:ss} %C{1}.%M() %-5p='%m'%n"/> 
						 <DefaultRolloverStrategy max="3"/>
						 <Policies>
							<SizeBasedTriggeringPolicy size="1GB"/>
						 </Policies>				 
					</RollingFile>
				</Route>
			</Routes>
		</Routing>
		
		
		<Routing name="RoutingSgiurdError">
			<Routes pattern="$${sd:type}">
				<Route>
					<RollingFile name="FileSgiurdError" filePattern="C:\Tomcat 6.0\logs\sgiurdError-%d{yyyyMMdd}-%i.log" fileName="C:\Tomcat 6.0\logs\sgiurdError.log" append="true"> 
						<PatternLayout pattern="%d{yyyyMMdd HH:mm:ss} %C{1}.%M() %-5p='%m'%n"/> 
						 <DefaultRolloverStrategy max="2" />
						 <Policies>
							<SizeBasedTriggeringPolicy size="1GB"/>
						 </Policies>				 
					</RollingFile>
				</Route>
			</Routes>
		</Routing>	

		 <Async name="sincEnvioEmail" > 		
            <appender-ref ref="confEnvioEmail"/>			
        </Async>
		
	</Appenders> 

	<Loggers> 
		<Root level="debug"> 
		  <Appender-Ref ref="STDOUT"/> 	
	    </Root>	
		<Logger name="sgiurd" level="trace">
		  <Appender-Ref ref="RoutingSgiurd" level="trace"/>	
		  <Appender-Ref ref="RoutingSgiurdError" level="error"/>	
	      <Appender-Ref ref="sincEnvioEmail" level="fatal"/>			  
		</Logger>		 
	</Loggers>   
	
</Configuration>