[main]
Description=VPN IURD
Host=189.109.60.110
AuthType=1
GroupName=vpn_iurd01
GroupPwd=
enc_GroupPwd=78F6218B6B02B6E92DB0481BB5C9E7C999D78F28E13AE3EB15F8A02151186C7B7CAA08E803117120C4B6AA03D3DD7087B65BE89CDC10EF3B
EnableISPConnect=0
ISPConnectType=0
ISPConnect=
ISPPhonebook=
ISPCommand=
Username=wlopes
SaveUserPassword=0
UserPassword=
enc_UserPassword=
NTDomain=
EnableBackup=0
BackupServer=
EnableMSLogon=1
MSLogonType=0
EnableNat=1
TunnelingMode=0
TcpTunnelingPort=10000
CertStore=0
CertName=
CertPath=
CertSubjectName=
CertSerialHash=00000000000000000000000000000000
SendCertChain=0
PeerTimeout=90
EnableLocalLAN=0
