<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
		 xmlns="http://java.sun.com/xml/ns/javaee" 
		 xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
		 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
		 id="WebApp_ID" version="2.5">

	<servlet>
		<servlet-name>SGIURD</servlet-name>
		<servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>SGIURD</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	<filter>
		<filter-name>ConnectionFilter</filter-name>
		<filter-class>br.com.SGIURD.filter.ConnectionFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>ConnectionFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>
	<filter>   
		<filter-name>ApiKeyFilter</filter-name>   
		<filter-class>br.com.SGIURD.filter.ApiKeyFilter</filter-class>           
	</filter>   
	<filter-mapping>   
		<filter-name>ApiKeyFilter</filter-name>          
		<url-pattern>*.do</url-pattern>   
	</filter-mapping>	
	<!--      	
	<filter>   
		<filter-name>UsuarioFilter</filter-name>   
		<filter-class>br.com.SGIURD.filter.UsuarioFilter</filter-class>           
	</filter>   
	<filter-mapping>   
		<filter-name>UsuarioFilter</filter-name>          
		<url-pattern>*.do</url-pattern>   
	</filter-mapping>
	 -->	
	<filter>
		<filter-name>FiltroAuditoria</filter-name>
		<filter-class>br.com.SGIURD.filter.AuditoriaFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>FiltroAuditoria</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>	
	<filter>   
		<filter-name>ActionFilter</filter-name>   
		<filter-class>br.com.SGIURD.filter.ActionFilter</filter-class>           
	</filter>   
	<filter-mapping>   
		<filter-name>ActionFilter</filter-name>          
		<url-pattern>*.do</url-pattern>   
	</filter-mapping>
	<filter>   
		<filter-name>PermissaoFilter</filter-name>   
		<filter-class>br.com.SGIURD.filter.PermissaoFilter</filter-class>           
	</filter>   
	<filter-mapping>   
		<filter-name>PermissaoFilter</filter-name>          
		<url-pattern>*.do</url-pattern>   
	</filter-mapping>	
	<!-- 
	<filter>
		<filter-name>SelectDataLoaderFilter</filter-name>
		<filter-class>br.com.SGIURD.filter.SelectDataLoaderFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>SelectDataLoaderFilter</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>
 	-->
</web-app>